* {

    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
}

.heading {

    font-size: 2.3rem;
    font-weight: 800;

}


.section-overline {
    font-weight: 700;
    font-size: 1rem;
    color: #D7393E;
}


.section-desc {
    line-height: 2;
}


/* Navbar */

.navbar {
    position: fixed;
    background-color: white;
    width: 100%;
    margin: 0;
    z-index: 1;
    top: 0;


}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;

}

.navbar-links a {
    float: right;

}

.navbar-links a {
    display: block;
    color: black;
    text-align: center;
    padding: .9rem 1rem;
    text-decoration: none;
}

.navbar-links a:hover {
    background-color: #D7393E;
    color: white;
}

.gym-title {
    text-align: center;
    display: flex;
    margin: 1rem 0;
}

.navbar-img {
    position: relative;
    max-width: 20%;
    max-height: 90%;


}

.fitness a {
    font-size: 2rem;
    font-weight: 700;
    margin: .5rem .5rem .5rem 0;
    padding: 0;
    color: black;
    text-align: center;
    text-decoration: none;
}

/* Progress bar */

.progress-container {
    width: 100%;
    height: .4rem;
    background: grey;
}

.progress-bar {
    height: .4rem;
    background: #FFB546;
    width: 0%;
}

#mySidenav a {
    text-align: center;
    position: fixed;
    right: -6rem;
    transition: 0.3s;
    padding: .5rem 0 .5rem 2rem;
    width: 5rem;
    text-decoration: none;
    color: white;
    border-radius: .8rem;
    border-color: aliceblue;
    border: .1rem solid;
}

.sidenav a i {
    font-size: 1.2rem;

}



#mySidenav a:hover {
    right: 0;
}


#about {
    bottom: 1rem;
    background-color: #D7393E;
}

#blog {
    bottom: 3.9rem;
    background-color: #1F2025;
}

#projects {
    bottom: 6.9rem;
    background-color: #FFB546;
}

/* Navbar-Responsive */


.navbar-links .icon {
    display: none;

}


/* Hero Section */

.hero-section {
    padding-top: 5rem;


    height: 42rem;
    background-image: url(images/hero-section-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;

}

.hero-section-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-section-heading {
    font-size: 4.5rem;
    margin-bottom: 2.5rem;
    margin-top: 12rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    line-height: 1.2;
    text-align: center;
}

.hero-section-desc {
    font-size: 1rem;
    margin-bottom: 2.5rem;
    text-align: center;
}

.hero-section-button {
    padding: 1.3rem 2.3rem;
    background-color: #FFB546;
    font-size: 0.9rem;
    font-weight: 800;
    border: none;
}

.hero-section-button:hover {

    background-color: #D7393E;
    color: white;
    transition: 0.2s;

}

/* Welcome Section */

.welcome {
    margin: 6rem 14rem;
    display: flex;
}

.welcome-text {
    margin: 8rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #1F2025;

}





.welcome-button {

    width: 50%;
    background-color: #D7393E;
    color: white;
    font-size: 0.9rem;
    font-weight: 800;
    border: none;

}

.welcome-button:hover {

    background-color: #FFB546;
    color: black;
    transition: 0.5s;

}

/* Why Workout Section */
.why-workout {
    padding: 6rem 14rem;
    background-color: #D7393E;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.workout-section-overline {
    color: white;
}

.why-workout-items {
    margin-top: 2rem;
    display: flex;
    text-align: center;
}

.why-workout-item {
    margin: 2rem 3rem 0;
    line-height: 2;
}

.why-workout-item-heading {
    font-size: 1.5rem;
    font-weight: 700;
}

i {
    font-size: 3rem;
}

/* Testimonial Section */

.testimonial-section {
    margin: 6rem 14rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.fa-star {
    display: inline-block;
    font-size: 1rem;
    color: #FFB546;
    margin-bottom: 1rem;
}

.testimonial-items {
    display: flex;
    margin: 4rem 0 0 0;
}

.testimonial-item {
    margin: 0 2rem;
    text-align: center;
}

.testimonial-img {
    border-radius: 50%;

}

.testimonial-name {
    font-size: 0.9rem;
    font-weight: 600;
}

/* Intro lesson */

.intro-lesson {


    background-image: url("https://images.unsplash.com/photo-1580086319619-3ed498161c77?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80");

    min-height: 36rem;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.color-overlay {
    width: 100%;
    background: #D7393E;
    height: 100%;
    opacity: .2;
    position: absolute;
    overflow: hidden;
}


/* Our Classes */

.classes {

    background-color: #1F2025;
    color: white;
    padding: 6rem 14rem;
    text-align: center;
}

.classes-images {
    display: flex;
    justify-content: center;
    margin: 2rem 0 0 0;
}

.classes-image {
    text-align: center;
    margin: 0 2rem;
    max-width: 100%;
    height: auto;
}

.classes-text {
    font-weight: 800;
    font-size: 1.5rem;
    margin: 0 0 1rem;
}


/* Social icons */

.social {
    text-align: center;
    margin: 3rem 14rem;
}

.social-icons i {

    font-size: 2rem;
    margin: 1rem 0.5rem 0 0;
    display: inline-block;

    padding: 0.5rem;
    border-radius: 50%;
    color: white;
    background-color: #D7393E;
}

.social-icons i:hover {
    transform: scale(1.2);
    transition: 0.1s;
    background-color: #FFB546;
    color: #1F2025;
}

/* Number Area */

.numbers {
    background-color: #D7393E;
    padding: 6rem 14rem;
    display: flex;
    justify-content: space-around;
    color: white;

}

.number-col {
    margin: 0 3rem;
    text-align: center;
}

.number-main {
    font-size: 3rem;
    font-weight: 800;
}

.number-desc {
    font-weight: 600;
}

/* Visit us section */

.visit-us {
    margin: 6rem 14rem;
    text-align: center;
    display: flex;
}

.visit-text {
    margin-right: 2rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Footer Section */

.footer {
    padding: 1rem 0;
    background-color: #1F2025;
    text-align: center;

}

.footer .fa-star {
    font-size: 1rem;
    color: #FFB546;

}


@media screen and (max-width: 480px) {

    .heading {
        font-size: 1.8rem;
    }

    .navbar ul {
        margin: 0;
        padding: 0;
    }


    .fitness a {
        color: #D7393E;
        margin: 1rem 0 1rem -4rem;
    }

    .navbar-img {
        position: absolute;
        left: 150px;
        top: 20px;
        scale: 1.2;
    }

    /* Navbar Responsive */


    /* Hides the original ul */
    .topnav a:not(:first-child) {
        display: none;
    }

    /* Icon before clicking */
    .topnav a.icon {
        float: right;
        display: block;
        color: #D7393E;
        position: absolute;
        right: 10px;
    }


    /* UL that comes after clicking the icons */
    .topnav.responsive {
        margin: 1rem .8rem;

    }


    /* icon of that UL that comes after clicking */
    .topnav.responsive a.icon {
        position: absolute;

    }
}


/* Individual a's of that UL that comes after clicking */

.topnav.responsive a {

    display: block;
    text-align: left;
    color: #1F2025;
    text-decoration: none;
    margin: 0.1rem;

}



/* Navbar responsive close */



.hero-section {
    background-position: center;
    background-image: url(https://images.unsplash.com/photo-1590487988256-9ed24133863e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=428&q=80);
    padding-top: 3rem;
    align-items: center;
    width: auto;
}

.hero-section-text {
    margin: 2rem;
}



.hero-section-heading {
    font-size: 2rem;
    margin: 9rem .5rem .5rem;

}

.welcome {
    flex-direction: column;
    margin: 2.5rem;
}

.welcome-text {
    margin: 0;
}

.why-workout {
    padding: 2.5rem;
}

.why-workout-items {
    flex-direction: column;
}


.why-workout-item {
    margin: 2rem 0;
}

.testimonial-items {
    flex-direction: column;
    margin: 0;
}

.testimonial-section {
    margin: 4rem;
}

.testimonial-item {
    margin: 2rem 0;
}

.classes {
    padding: 4rem;
}

.classes-images {
    flex-direction: column;
}

.classes-image {
    margin: 2rem 0;
    max-width: 100%;
    position: relative;
    overflow: auto;
}

.social {
    margin: 2rem;
}

.numbers {
    flex-direction: column;
    padding: 2.5rem;
}

.num-desc {
    color: antiquewhite;
    font-size: 1.2rem;
}

.number-col {
    margin: 2rem 0;
}

.visit-us {
    flex-direction: column;
    margin: 2rem 2rem 0;
}

.visit-text p {
    margin: .5rem 0;
}

.map {
    overflow: auto;
}